section {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    color: #17233D;
    margin: 47px 0px 956px 42px;
    word-spacing: 36px;
    font-family: Poppins;

}

#espaço {
    word-spacing: 0px;
}

.botao_cima {
    background:#6FBF44;
    border-radius: 6px;
    border: 1px solid #4CB538;
    font-size: 16px;
    letter-spacing: 1px;
    width: 124px;
    height: 51px;
    color: white; 
}

.logo-projeto {
    margin-top: 246px;
    margin-left: 121px;
    position: absolute;
    width: 595.18px;
    height: 500px;

}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    position: absolute;
    width: 582px;
    height: 164px;
    margin-left: 801px;
    margin-top: 342px;


}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    height: 99px;
    position: absolute;
    margin-top: 553px;
    margin-left: 801px;
    margin-bottom: 55px;
}

#aleatorio {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    position: absolute;
    height: 27px;
    margin-left: 801px;
    margin-top: 870px;
    margin-right: 36.6px;
    word-spacing: 0px;
    

}
